<style>
    .ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: white;
}

    .ct-series-b .ct-line,
.ct-series-b .ct-point {
  stroke: green;
}

.ct-label {
 color:white;
 font-size: 11px;
 }

</style>
<div id ="charts" style="margin-top:40px;">


{% for device in devices %}
<div class="col-md-6">
    <div class="card">
        <div data-background-color="green" class="card-header card-chart card-{{ device.card_color }}">
             <div id = "chart-{{device.id}}" class="ct-chart ct-perfect-fourth"></div>
        </div>
        <div class="card-content">
            <h4 class="title text-center"> <i class="material-icons">{{ device.icon }}</i>{{ device.name }}</h4>
        </div>
        <div class="card-footer">
            <div class="stats">
            {% with device.statistics_set.all|slice:":1" as last_stat %}
                <i class="material-icons">access_time</i> последнее показание снято {{ last_stat.date_time|date:"D-Y-M" }}
            </div>
            {% endwith %}
        </div>
    </div>
</div>
{% endfor %}

</div>
<script>
        {% for device in devices %}
        {% with device.statistics_set.all as latest_stats %}
        var options = {
                    seriesLineDistance: 40,
                    fullWidth: true,
                    showLabel: false
        };
        var labs = [];
        var sers1 = [];
        var sers2 = [];
        {% for stat in latest_stats %}
            {% if forloop.counter|divisibleby:30 %}
                labs.push("")
                sers1.push({{stat.value1}})
                {% if stat.value2 %}
                    sers2.push({{stat.value2}})
                {% endif %}
            {% endif %}
        {% endfor %}

        var chart = new Chartist.Line('#chart-{{device.id}}', {
          labels: labs,
          series: [sers1, sers2]
        }, options);
        {% endwith %}
    {% endfor %}

</script>
