{% if statistics %}
{% for device in devices %}
<div class="col-md-6 col-xs-12">
    <div class="card">
        <div class="card-content">
            <div id="chart-{{device.id}}"></div>
            <h4 class="title text-center"> <i class="material-icons">{{ device.icon }}</i>{{ device.name }}</h4>
        </div>
        <div class="card-footer">
            <div class="stats">
            {% for stat in device.statistics_set.all %}
                {% if forloop.last %}
                <i class="material-icons">access_time</i> последнее показание снято {{ stat.date_time|date:"M, d H:i:s" }}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
    <div class="alert alert-warning">
        <i class="material-icons">whatshot</i> <strong>Мне очень жаль. </strong>Кажется, информация об этом дне недоступна. Попробуйте выбрать другой день.
    </div>
{% endif %}

<script>

function drawCharts() {
{% if statistics %}
        {% for device in devices %}
        {% if device.id == 9 %}
            var fuel_data = [
                {% for stat in statistics %}
                {% if stat.device.id == device.id %}
                    {% ifchanged stat.value1|floatformat:"0" or stat.value2|floatformat:"0" %}
                    {"date_time": "{{ stat.date_time|date:"H:i:s"}}", "Температура": "{{stat.value1|floatformat:"0"}}", "Влажность": "{{stat.value2|floatformat:"0"}}"},
                    {% endifchanged %}
                {% endif %}
                {% endfor %}

            ];

            Morris.Line({
              element: 'chart-{{device.id}}',
              hideHover: 'auto',
              data: fuel_data,
              xkey: 'date_time',
              ykeys: ["Температура", "Влажность"],
              labels: ["Температура", "Влажность"],
              lineColors: ['#A52A2A','#72A0C1'],
              parseTime: false,
              smooth: false
            });

        {% elif device.id == 10 %}

            var fuel_data = [
                {% for stat in statistics %}
                {% if stat.device.id == device.id %}
                    {% ifchanged stat.value1|floatformat:"0" %}
                    {"date_time": "{{ stat.date_time|date:"H:i:s"}}", "Освещенность": "{{stat.value1|floatformat:"0"}}"},
                    {% endifchanged %}
                {% endif %}
                {% endfor %}
            ];

            Morris.Line({
              element: 'chart-{{device.id}}',
              hideHover: 'auto',
              data: fuel_data,
              xkey: 'date_time',
              ykeys: ["Освещенность"],
              labels: ["Освещенность"],
              lineColors: ['#A52A2A'],
              parseTime: false,
              smooth: false
            });

        {% endif %}
        {% endfor %}
{% endif %}
    }

</script>
