<div id ="devices">
    {% for device in devices %}
        {% if device.display != 0 %}
            <div class="col-sm-6 col-xs-12 col-md-3">
                {% if device.state.id == 3 %}
                <div class="card card-{{device.card_color}} card-bold" data-device="{{device.id}}" data-device-state="{{ device.state.id }}" data-device-type="{{ device.type.name}}">
                {% else %}
                <div class="card card-lightgray card-bold" data-device="{{device.id}}" data-device-state="{{ device.state.id }}" data-device-type="{{ device.type.name}}">
                {% endif %}
                    <div class="card-block text-xs-center">
                        <i class="material-icons md-48 device-icon"> {{device.icon}}</i>
                        <p>
                        {% if device.collect_statistic == 1 %}
                        {% with device.statistics_set.all|dictsort:"date_time"|last as latest_stat %}
                            {% if device.name == "temperature_humidity" %}
                                <span class ="device-values" data-device = "{{device.id}}" data-value = "value1">
                                    {{latest_stat.value1}}
                                </span>
                                &#8451; &#32;
                                <span class ="device-values" data-device = "{{device.id}}" data-value = "value2">
                                    {{latest_stat.value2}}
                                </span>
                                <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                            {% else %}
                                <span class ="device-values" data-device = "{{device.id}}" data-value = "value1">
                                    {{latest_stat.value1}}
                                </span>
                            {% endif %}
                        {% endwith %}
                        {% else %}
                            <br />
                        {% endif %}
                        </p>
                        <p>{{ device.name }}</p>
                        {% if current_roomtype == "overview" %}
                        {% include 'psda/includes/roominfo.html' %}
                        {% endif %}
                      </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
            </div>

<script>
    $('.card[data-device-type="RELAY"]').click (function() {
        $(this).css("opacity", "0.3");
        $(this).find("i.device-icon").addClass("animate-device-icon");
        ajaxPost("{% url 'toggle_device' %}",
            {'device': $(this).attr("data-device"),
             'state' : $(this).attr("data-device-state")},
            function (content) {
            console.log(content.result);
        })
    });

    $('#satisfier').click(function(ev){
       ev.preventDefault();
       var $this = $(this);
        ajaxGet($this.attr('data-url'), function(content){
            //onSuccess
            alert(content.result);
        })
    });

    var inbox = new ReconnectingWebSocket("wss://ezhome-broker.herokuapp.com/receive");
    <!--var outbox = new ReconnectingWebSocket("wss://ezhome-broker.herokuapp.com/submit");-->

    inbox.onmessage = function(message) {
      var data = JSON.parse(message.data);

      try {
        var values = JSON.parse(data.values);

          ajaxPost("{% url 'token_validator' %}",

            {'token': data.token},

             function(content){
                if (content.valid == "ok") {
                    if (data.state == "3") {
                        $("div.card").each ( function (i, card) {
                            if ($(card).attr("data-device") == data.device) {
                                $(card).attr("data-device-state","3");
                                $(card).css("opacity", "1");
                                $(card).find("i.device-icon").removeClass("animate-device-icon");
                                $(card).removeClass ("card-lightgray");
                                var value_fields = $(card).find("span.device-values");
                                $(value_fields).each (function (i, field) {
                                    $(field).html(values [i]);
                                })
                            }
                        })
                    } else if ( data.state == "5") {
                        $("div.card").each ( function (i, card) {
                            if ($(card).attr("data-device") == data.device) {
                                $(card).attr("data-device-state","5");
                                $(card).css("opacity", "1");
                                $(card).find("i.device-icon").removeClass("animate-device-icon");
                                $(card).addClass ("card-lightgray");
                                var value_fields = $(card).find("span.device-values");
                                $(value_fields).each (function (i, field) {
                                    $(field).html(values [i]);
                                })
                            }
                        })
                    }
                }
             }

          )
      } catch (e) {
      }

    };


</script>
