<style>
.wave-back {
    {% load static %}
    background: url({% static 'img/seigaiha.png' %}) repeat;
    height: 100%;
}
</style>
<div class="col-md-3 col-sm-12 col-xs-12">
    <div id ="sensors">

    <div class="col-md-12 center" id="sensor-control">
        <a id="sensor-toggler" role="button" class="btn btn-primary btn-round btn-just-icon">
            <i class="material-icons">wifi_tethering</i>
            <div class="ripple-container"></div>
        </a>
    </div>
    <div id="sensor-toggle">
    <div class="col-md-6 col-xs-6 dotted-box-right-border"></div>
    {% for device in sensors %}
        {% if device.display != 0 %}
            <div class="col-sm-12 col-xs-12 col-md-12">
                {% if device.state.id == 3 %}
                <div class="card card-{{device.card_color}} card-bold" data-device="{{device.id}}" data-device-state="{{ device.state.id }}" data-device-type="{{ device.type.name}}">
                {% else %}
                <div class="card card-{{device.card_color}} card-lightgray card-bold" data-device="{{device.id}}" data-device-state="{{ device.state.id }}" data-device-type="{{ device.type.name}}">
                {% endif %}
                    <div class="row" style="margin:0px">
                        {% if current_roomtype == "overview" %}
                            {% include 'psda/includes/roominfo.html' %}
                        {% endif %}
                                {% if device.collect_statistic == 1 %}
                        {% with device.statistics_set.all|dictsort:"date_time"|last as latest_stat %}
                                <span class="pull-right low-margin">
                                <span class ="device-values" data-device = "{{device.id}}" data-value = "value1">
                                    {{latest_stat.value1}}
                                </span>

                                &#8451; &#32;
                                <span class ="device-values" data-device = "{{device.id}}" data-value = "value2">
                                    {{latest_stat.value2}}
                                </span>
                                </span>



                        {% endwith %}
                        {% endif %}
                    </div>
                    <div class="text-xs-center low-padding no-padding-top">
                        <i class="material-icons md-48 device-icon"> {{device.icon}}</i>
                        <p>{{ device.name }}</p>

                    </div>
                </div>


            </div>
        {% endif %}
    {% endfor %}
</div>
</div>
    </div>
<div class="col-md-5 col-xs-12 wave-back central-content">
    {% include 'psda/includes/scenariolist.html' %}
</div>

<div class="col-md-4 col-sm-12 col-xs-12">
    <div id="devices">
    <div class="col-md-12 center">
        <a id="device-toggler" role="button" class="btn btn-primary btn-round btn-just-icon">
            <i class="material-icons">developer_board</i>
            <div class="ripple-container"></div>
        </a>
    </div>
    <div id="device-toggle">
    <div class="col-md-6 col-xs-6 dotted-box-right-border mobile"></div>
    <div class="col-md-6 col-sm-6 dotted-box-right-border-short non-mobile"></div>
    <div class="col-md-6 col-sm-6 non-mobile" style="height:10px;"></div>
    <div class="col-md-3 col-sm-3 non-mobile"></div> <div class="col-md-6 col-sm-6 dotted-box-top-n-sides-border non-mobile"></div><div class="col-md-3"></div>
    {% for device in devices %}
        {% if device.display != 0 %}
            <div class="col-sm-6 col-xs-12 col-md-6">
                {% if device.state.id == 3 %}
                <div class="card card-{{device.card_color}} card-bold" data-device="{{device.id}}" data-device-state="{{ device.state.id }}" data-device-type="{{ device.type.name}}" style="box-shadow:0 0 6px 0 {{ device.card_color}}">
                {% else %}
                <div class="card card-{{device.card_color}} card-lightgray card-bold boxshadow-low" data-device="{{device.id}}" data-device-state="{{ device.state.id }}" data-device-type="{{ device.type.name}}">
                {% endif %}
                    <div class="row" style="margin:0px">
                        {% if current_roomtype == "overview" %}
                            {% include 'psda/includes/roominfo.html' %}
                        {% endif %}
                    </div>
                    <div class="text-xs-center low-padding no-padding-top">
                        <i class="material-icons md-48 device-icon"> {{device.icon}}</i>
                        <p>{{ device.name }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
            </div>
</div>
<script>
    $('.card[data-device-type="RELAY"][data-device-state!=8]').click (function() {
        var prev_device_state = $(this).attr("data-device-state");
        if ($(this).attr("data-device-state") != "8") {
            $(this).css("opacity", "0.3");
            $(this).find("i.device-icon").addClass("animate-device-icon");
            $(this).attr("data-device-state","8");
            ajaxPost("{% url 'toggle_device' %}",
                {'device': $(this).attr("data-device"),
                 'state' : prev_device_state},
                function (content) {
                    var device_info = content.result;
                    var device = $(".card[data-device="+device_info.device+"]");
                    var timeout = content.result.timeout;
                    console.log (timeout);
                    setTimeout(function(){
                        if ($(device).attr("data-device-state") == "8") {
                            $(device).attr("data-device-state", device_info.state);
                            $(device).find("i.device-icon").removeClass("animate-device-icon");
                            $(device).css("opacity", "1");
                            if ($("#server-down").length == 0) {
                                $("#devices").prepend('<div id = "server-down" class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><strong><i class="material-icons">sentiment_dissatisfied</i> Вот незадача. </strong>Кажется, сервер недоступен.</div>');
                            }
                        }
                    }, parseInt(timeout) * 1000);
            })
        }
    });

    $('#satisfier').click(function(ev){
       ev.preventDefault();
       var $this = $(this);
        ajaxGet($this.attr('data-url'), function(content){
            //onSuccess
            alert(content.result);
        })
    });

    var inbox = new ReconnectingWebSocket("wss://ezhome-broker.herokuapp.com/receive");
    <!--var outbox = new ReconnectingWebSocket("wss://ezhome-broker.herokuapp.com/submit");-->

    inbox.onmessage = function(message) {
      var data = JSON.parse(message.data);
        console.log("received from ws:", data);

      try {
        var values = JSON.parse(data.values);

          ajaxPost("{% url 'token_validator' %}",

            {'token': data.token},

             function(content){
                if (content.valid == "ok") {
                    if (data.state == "ON") {
                        $("div.card").each ( function (i, card) {
                            if ($(card).attr("data-device") == data.device) {
                                $(card).attr("data-device-state","3");
                                $(card).css("opacity", "1");
                                $(card).find("i.device-icon").removeClass("animate-device-icon");
                                $(card).removeClass ("card-lightgray");
                                var value_fields = $(card).find("span.device-values");
                                $(value_fields).each (function (i, field) {
                                    $(field).html(values [i]);
                                })
                            }
                        })
                    } else if ( data.state == "OFF") {
                        $("div.card").each ( function (i, card) {
                            if ($(card).attr("data-device") == data.device) {
                                $(card).attr("data-device-state","5");
                                $(card).css("opacity", "1");
                                $(card).find("i.device-icon").removeClass("animate-device-icon");
                                $(card).addClass ("card-lightgray");
                                var value_fields = $(card).find("span.device-values");
                                $(value_fields).each (function (i, field) {
                                    $(field).html(values [i]);
                                })
                            }
                        })
                    }
                }
             }

          )
      } catch (e) {
      }

    };

$("#sensor-toggler").click(function(){$("#sensor-toggle").toggleClass("hide")});
$("#device-toggler").click(function(){$("#device-toggle").toggleClass("hide")});
</script>
</div>
