<nav class="navbar navbar-default navbar-fixed-top inner-navbar">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li id = "nav-scenarios"><a href="{% url 'home' %}">Дом <span class="sr-only">(current)</span></a></li>
          <li id = "nav-charts"><a href="{% url 'charts' %}">Инфографика <span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>


<script>
$( "#nav-{{ tab }}" ).addClass("active");
</script>