{% load cache %}
{% cache 3600 scenarios %}

{% for scenario in scenarios %}
    {% if scenario.name != "NONE" %}
        <div class="col-sm-6">
            <div class="card" data-scenario = "{{ scenario.id }}">
                <div class ="card-block">
                    <h3 class="card-title "> {{ scenario.name }}
                        <span id = "scenario-indicator">
                            {% if scenario.state.name == "ON" %}
                            <span class = "indicator-on">
                            {% else %}
                            <span class = "indicator-off">
                            {% endif %}
                                &#9679;
                            </span>
                        </span>
                        <i id = "scenario-refresh-indicator" class = 'glyphicon glyphicon-refresh glyphicon-refresh-animate md-12 hide'></i>
                    </h3>
                    <p>{{ scenario.description }} </p>
                    <a  data-toggle="collapse" href="#{{ scenario.id }}-scenario-details" aria-expanded="false" aria-controls="collapseExample">
                        Details...
                    </a>
                    <div class="collapse" id="{{ scenario.id }}-scenario-details">
                        <br />
                        <div class="list-group">
                            <a class="list-group-item disabled">
                                What happened:
                            </a>
                            {% for event in events %}
                                {% if scenario == event.scenario %}
                                    {% if event.event_type.id == 1 %}
                                        <a class="list-group-item"><strong>{{ event.device.name }} </strong><span class="pull-right"><mark> {{ event.command.name }}</mark></span></a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="list-group">
                            <a class="list-group-item disabled">
                                What I'll do:
                            </a>
                            {% for event in events %}
                                {% if scenario == event.scenario %}
                                    {% if event.event_type.id == 2 %}
                                        <a class="list-group-item"><strong>{{ event.device.name }} </strong><div class="pull-right"><mark> {{ event.command.name }}</mark></div></a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="card-text" align ="center">
                    {% if scenario.state.name == "ON" %}
                    <a href="#" id ="turnoff-scenario" class = "card-text toggle-scenario" data-scenario="{{ scenario.id }}" data-scenario-state = "{{scenario.state.id}}">OFF</a>
                    {% else %}
                    <a href="#" id ="turnon-scenario" class = "card-text toggle-scenario" data-scenario="{{ scenario.id }}" data-scenario-state = "{{scenario.state.id}}">ON</a>
                    {% endif %}
                </div>
                <br />
            </div>
        </div>
    {% endif %}
{% endfor %}

<script>

    $(document).on('click', ".toggle-scenario", function () {
        $(this).parent().parent().find("#scenario-indicator").addClass("hide");
        $(this).parent().parent().find("#scenario-refresh-indicator").removeClass("hide");
        $(this).addClass("hide");
        ajaxPost("{% url 'toggle_scenario' %}",
            {'scenario': $(this).attr("data-scenario"),
             'state' : $(this).attr("data-scenario-state")},
            function (content) {
            console.log(content.result);
        })
    })

    var inbox = new ReconnectingWebSocket("wss://ezhome-broker.herokuapp.com/receive");

    inbox.onmessage = function(message) {
      var data = JSON.parse(message.data);

      ajaxPost("{% url 'token_validator' %}",

        {'token': data.token},

         function(content){
            if (content.valid == "ok") {
                if (data.state == "3") {
                    $("div.card").each ( function (i, card) {
                        if ($(card).attr("data-scenario") == data.scenario) {
                            $(card).find("#scenario-indicator").html("<span class = 'indicator-on'>&#9679;</span>");
                            $(card).find("#scenario-indicator").removeClass("hide");
                            $(card).find("#scenario-refresh-indicator").addClass("hide");
                            $(card).find(".card-text").html("<a href='#' id = 'turnoff-scenario' class = 'card-text toggle-scenario'>OFF</a>");

                        }
                    })
                } else if ( data.state == "5") {
                    $("div.card").each ( function (i, card) {
                        if ($(card).attr("data-scenario") == data.scenario) {
                            $(card).find("#scenario-indicator").html("<span class = 'indicator-off'>&#9679;</span>");
                            $(card).find("#scenario-indicator").removeClass("hide");
                            $(card).find("#scenario-refresh-indicator").addClass("hide");
                            $(card).find(".card-text").html("<a href='#' id = 'turnon-scenario' class = 'card-text toggle-scenario'>ON</a>");

                        }
                    })
                }
            }
         }

      )

    };
</script>

{% endcache %}