
<div id="scenarios">
    <div class="col-md-12 center central-content-btn">
        <a tabindex="0" role="button" class="btn btn-primary btn-round btn-just-icon" data-trigger="focus" data-toggle="popover-scenarios-opt" data-placement="bottom">
            <i class="material-icons">view_list</i>
            <div class="ripple-container"></div>
        </a>
    </div>
    <div id="scenario-toggle">
    <div class="row"><div class="col-md-6 col-xs-6 dotted-box-right-border-no-margin"></div></div>
    <div class="col-md-12 center">
        <button id="manual-scenario-toggler" class="btn btn-primary btn-round btn-just-icon">
            <i class="material-icons">pan_tool</i>
            <div class="ripple-container"></div>
        </button>
    </div>
    <div id="manual-scenario-toggle">
    {% for scenario, info in manual_scenarios.items %}
    {% if info.name != "NONE" %}

        <div class="col-sm-12">
            <div class="card" data-scenario = "{{ scenario }}" data-scenario-state = "{{info.state}}">
                <div class ="card-block">
                    <h3 class="card-title "> {{ info.name }}
                        <span id = "scenario-indicator">
                            {% if info.state == "ON" %}
                            <span class = "indicator-on">
                            {% else %}
                            <span class = "indicator-off">
                            {% endif %}
                                &#9679;
                            </span>
                        </span>
                        <i id = "scenario-refresh-indicator" class = 'glyphicon glyphicon-refresh glyphicon-refresh-animate md-12 hide'></i>
                    </h3>
                    <p>{{ info.descr }} </p>
                    <a  data-toggle="collapse" href="#{{ scenario }}-scenario-details" aria-expanded="false" aria-controls="collapseExample">
                        Дeтали...
                    </a>
                    <div class="collapse" id="{{ scenario }}-scenario-details">
                        <br />
                        <div class="list-group">
                            <a class="list-group-item disabled" style="cursor:default">
                                Что случилось:
                            </a>
                            {% for device, event in info.events.past.items %}

                                        <a class="list-group-item"><strong>{{ device}} </strong><span class="pull-right"><mark> {{ event }}</mark></span></a>

                            {% endfor %}
                        </div>
                        <div class="list-group">
                            <a class="list-group-item disabled" style="cursor:default">
                                Что я сделаю:
                            </a>
                            {% for device, event in info.events.future.items %}
                                        <a class="list-group-item"><strong>{{ device}} </strong><span class="pull-right"><mark> {{ event }}</mark></span></a>

                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="card-text" align ="center">
                    {% if info.state == "ON" %}
                    <a href="#" id ="turnoff-scenario" class = "card-text toggle-scenario" data-scenario="{{ scenario }}" data-scenario-state = "{{info.state}}">ВЫКЛ</a>
                    {% else %}
                    <a href="#" id ="turnon-scenario" class = "card-text toggle-scenario" data-scenario="{{ scenario }}" data-scenario-state = "{{info.state}}">ВКЛ</a>
                    {% endif %}
                </div>
                <br />
            </div>
        </div>
    {% endif %}
{% endfor %}
    </div>
</div>

    <div class="row"><div class="col-md-6 col-xs-6 dotted-box-right-border-no-margin"></div></div>
    <div class="col-md-12 center">
        <button id="auto-scenario-toggler" class="btn btn-primary btn-round btn-just-icon">
            <i class="material-icons">security</i>
            <div class="ripple-container"></div>
        </button>
    </div>
    <div id="auto-scenario-toggle">
    {% for scenario, info in auto_scenarios.items %}
    {% if info.name != "NONE" %}

        <div class="col-sm-12">
            <div class="card" data-scenario = "{{ scenario }}" data-scenario-state = "{{info.state}}">
                <div class ="card-block">
                    <h3 class="card-title "> {{ info.name }}
                        <span id = "scenario-indicator">
                            {% if info.state == "ON" %}
                            <span class = "indicator-on">
                            {% else %}
                            <span class = "indicator-off">
                            {% endif %}
                                &#9679;
                            </span>
                        </span>
                        <i id = "scenario-refresh-indicator" class = 'glyphicon glyphicon-refresh glyphicon-refresh-animate md-12 hide'></i>
                    </h3>
                    <p>{{ info.descr }} </p>
                    <a  data-toggle="collapse" href="#{{ scenario }}-scenario-details" aria-expanded="false" aria-controls="collapseExample">
                        Дeтали...
                    </a>
                    <div class="collapse" id="{{ scenario }}-scenario-details">
                        <br />
                        <div class="list-group">
                            <a class="list-group-item disabled" style="cursor:default">
                                Что случилось:
                            </a>
                            {% for device, event in info.events.past.items %}

                                        <a class="list-group-item"><strong>{{ device}} </strong><span class="pull-right"><mark> {{ event }}</mark></span></a>

                            {% endfor %}
                        </div>
                        <div class="list-group">
                            <a class="list-group-item disabled" style="cursor:default">
                                Что я сделаю:
                            </a>
                            {% for device, event in info.events.future.items %}
                                        <a class="list-group-item"><strong>{{ device}} </strong><span class="pull-right"><mark> {{ event }}</mark></span></a>

                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="card-text" align ="center">
                    {% if info.state == "ON" %}
                    <a href="#" id ="turnoff-scenario" class = "card-text toggle-scenario" data-scenario="{{ scenario }}" data-scenario-state = "{{info.state}}">ВЫКЛ</a>
                    {% else %}
                    <a href="#" id ="turnon-scenario" class = "card-text toggle-scenario" data-scenario="{{ scenario }}" data-scenario-state = "{{info.state}}">ВКЛ</a>
                    {% endif %}
                </div>
                <br />
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>
</div>

<script>

    $(document).on('click', ".toggle-scenario", function () {
        var prev_scenario_state = $(this).parent().parent().attr("data-scenario-state");
        $(this).parent().parent().find("#scenario-indicator").addClass("hide");
        $(this).parent().parent().find("#scenario-refresh-indicator").removeClass("hide");
        $(this).parent().parent().attr("data-scenario-state","WAIT");
        $(this).addClass("hide");
        ajaxPost("{% url 'toggle_scenario' %}",
            {'scenario': $(this).parent().parent().attr("data-scenario"),
             'state' : prev_scenario_state},
            function (content) {
                var scenario_info = content.result;
                var scenario = $(".card[data-scenario="+scenario_info.scenario+"]");
                var timeout = content.result.timeout;
                console.log (timeout);
                setTimeout(function(){
                    if ($(scenario).attr("data-scenario-state") == "WAIT") {
                        $(scenario).attr("data-scenario-state", scenario_info.state);
                        ajaxPost("{% url 'scenario_state' %}",
                                {'scenario': $(scenario).attr("data-scenario")},
                                function(content) {
                                    var scenario_info = content.result;
                                    $(scenario).attr("data-scenario-state", scenario_info.state)
                                    if (scenario_info.state == "3") {
                                        $(scenario).find("#scenario-indicator").html("<span class = 'indicator-on'>&#9679;</span>");
                                        $(scenario).find("#scenario-indicator").removeClass("hide");
                                        $(scenario).find("#scenario-refresh-indicator").addClass("hide");
                                        $(scenario).find(".card-text").html("<a href='#' id = 'turnoff-scenario' class = 'card-text toggle-scenario'>ВЫКЛ</a>");
                                    } else if ( scenario_info.state == "5") {
                                        $(scenario).find("#scenario-indicator").html("<span class = 'indicator-off'>&#9679;</span>");
                                        $(scenario).find("#scenario-indicator").removeClass("hide");
                                        $(scenario).find("#scenario-refresh-indicator").addClass("hide");
                                        $(scenario).find(".card-text").html("<a href='#' id = 'turnon-scenario' class = 'card-text toggle-scenario'>ВКЛ</a>");
                                    }
                                }
                        );
                    }
                }, parseInt(timeout) * 1000);
        })
    })

    var inbox = new ReconnectingWebSocket("wss://ezhome-broker.herokuapp.com/receive");

    inbox.onmessage = function(message) {
    try {
      var data = JSON.parse(message.data);
      console.log("received from ws:", data);

      ajaxPost("{% url 'token_validator' %}",

        {'token': data.token},

         function(content){
            if (content.valid == "ok") {
                if (data.state == "ON") {
                    $("div.card").each ( function (i, card) {
                        if ($(card).attr("data-scenario") == data.scenario) {
                            $(card).attr("data-scenario-state","ON");
                            $(card).find("#scenario-indicator").html("<span class = 'indicator-on'>&#9679;</span>");
                            $(card).find("#scenario-indicator").removeClass("hide");
                            $(card).find("#scenario-refresh-indicator").addClass("hide");
                            $(card).find(".card-text").html("<a href='#' id = 'turnoff-scenario' class = 'card-text toggle-scenario'>ВЫКЛ</a>");

                        }
                    })
                } else if ( data.state == "OFF") {
                    $("div.card").each ( function (i, card) {
                        if ($(card).attr("data-scenario") == data.scenario) {
                            $(card).attr("data-scenario-state","OFF");
                            $(card).find("#scenario-indicator").html("<span class = 'indicator-off'>&#9679;</span>");
                            $(card).find("#scenario-indicator").removeClass("hide");
                            $(card).find("#scenario-refresh-indicator").addClass("hide");
                            $(card).find(".card-text").html("<a href='#' id = 'turnon-scenario' class = 'card-text toggle-scenario'>ВКЛ</a>");

                        }
                    })
                }
            }
         }

      )
    } catch (e) {
    }

    };
</script>
