<div class="sidebar" id = "sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
				<!--
					Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

					Tip 2: you can also add an image using data-image tag
				-->

				<div class="logo">
					<a href="#" class="simple-text">
						LOGO  |  PROJECT NAME
					</a>
				</div>


				<div class="sidebar-wrapper">
					<ul class="nav">
                        {% if user.is_authenticated %}
							<li>
									<a href="#" type="button" class="btn btn-lg btn-default" data-toggle="popover" data-trigger="focus" data-placement="bottom" style="padding:5px 36px">
                                        <i class="material-icons" style = "color: white;">person</i>
                                        <p>{{ user.username }}</p>
									</a>
							</li>

						{% endif %}