
    {% include 'psda/includes/sidebarlogouser.html' %}
    {% load cache %}
	{% cache 3600 sidebar current_roomtype %}

						{% if current_roomtype == "overview" %}
							<li class="active">
						{% else %}
							<li>
						{% endif %}
							<a href="{% url 'home' %}">
								<i class="material-icons">home</i>
								<p>Дом</p>
							</a>
						</li>
						{% for room_type in rooms %}
							{% if room_type.name == current_roomtype.name %}
								<li class="active">
									{% else %}
									<li>
								{% endif %}
									{% if room_type.rooms_set.all %}
									{% with room_type.rooms_set.all|first as first_room %}
									<a href="{% url 'room' room_type.id first_room.id %}">
									{% endwith %}
									{% else %}
									<a href="{% url 'room' room_type.id '0' %}">
									{% endif %}
										<i class="material-icons">{{room_type.icon}}</i>
										<p>{{room_type.name}}</p>
									</a>
								</li>
						{% endfor %}



					</ul>
				</div>
			</div>

    {% endcache %}