{% if request.user.is_authenticated %}

	<!doctype html>
	<html lang="en">
	<head>
	{% include 'psda/includes/staticincludes.html' %}
	</head>

	<body>
<style>
.home-back {
    {% load static %}
    background: url({% static 'img/home.jpeg' %});
    background-position:center;
    background-size: cover;
    opacity:0.6;
}
</style>
<!--<div class="home-back" style="height: 100%;min-height: 900px;min-width: 800px;width: 100%;">-->

</div>
		<div class="wrapper" style="margin-top: 5px;">



			<div class="main-panel" style="opacity:1 !important;">
				<nav class="navbar navbar-default navbar-absolute" style = "padding-top : 0px;" id="main-menu-toggler">
					<button type="button" class="navbar-toggle" data-toggle="collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					 {% if room_object.name %}
						<a class="navbar-brand inner-navbar-header" href="#">{{room_object.name}} </a>
					 {% elif  tab == "home" %}
						<a class="navbar-brand inner-navbar-header" href="#">Дом </a>
                     {% elif  tab == "charts" %}
						<a class="navbar-brand inner-navbar-header" href="#">Инфографика </a>
					 {% endif %}

				</nav>

			  <div class='content col-md-12' style = "margin-top : 13px;">
				 {% block content %}
				 {% endblock %}
				  <footer class="footer">
					<div class="container-fluid">
						<nav class="pull-left">
							<ul>
								<li>
									<a href="#">
										Home
									</a>
								</li>
								<li>
									<a href="#">
										Company
									</a>
								</li>
								<li>
									<a href="#">
										Portfolio
									</a>
								</li>
								<li>
									<a href="#">
									   Blog
									</a>
								</li>
							</ul>
						</nav>
						<p class="copyright pull-right">
							&copy; <script>document.write(new Date().getFullYear())</script> <a href="#">Kate Khotko</a>
						</p>
					</div>
				</footer>
			  </div>


			</div>
		</div>

	</body>
	</html>
<script>
$(function () {


  $('[data-toggle="popover-scenarios-opt"]').popover(
  {
  	html: 'true',
    content:'<a href = "#" type="button" class="btn btn-round btn-warning" style="padding:12px 15px;" onclick="hideScenarios()"><i class="glyphicon glyphicon-eye-close"></i> </a> <a href = "#" type="button" class="btn btn-round btn-warning" style="padding:12px" onclick="hideScenarios()"><i class="material-icons">add</i> </a>'
  }
  );


})



function hideScenarios() {
	$("#scenario-toggle").toggleClass("hide");
}


</script>

{% else %}
	{% include 'psda/loginform.html' %}
{% endif %}


