{% extends "psda/header.html" %}

{% block content %}

    {% include 'psda/includes/navpanelindex.html' %}
    <div class="main-content">
    {% if tab == "home" %}
        <div class="col-md-12">
            {% include 'psda/includes/devicelist.html' %}
        </div>

    {% endif %}
    {% if tab == "charts" %}
        <div class="input-group date col-md-6 col-xs-12" style="margin-top:20px;">
          <input type="text" class="form-control" id ="date" value="{{date}}"  style = "display: table-cell; padding: 0px">
            <span class="btn btn-white btn-just-icon" style = "display: table-cell; padding: 0px">
                <i class="glyphicon glyphicon-th"></i>
            </span>
        </div>
        <div class="col-sm-6 col-md-4" id="waiting">
            <div class="thumbnail">
                {% load static %}
              <img src="{% static 'img/chartist.gif' %}" alt="...">
              <div class="caption">
                <h3>Инфографика скоро будет готова...</h3>
              </div>
            </div>
        </div>
        <div id ="charts" style="margin-top:20px;">
            {% include 'psda/includes/chartlist.html' %}
        </div>
    {% endif %}
</div>
<script>
    try {
        drawCharts();
    } catch(e) {};

    $('.input-group.date').datepicker({
        format: "yyyy-mm-dd",
        autoclose: true
    });

     $("#waiting").hide();

    $('.input-group.date').on("changeDate", function() {
        $("#charts").fadeOut("slow");
        $("#charts").empty();
        $("#waiting").fadeIn("slow");

        var date = $('.input-group.date').datepicker('getFormattedDate');

        ajaxPost("{% url 'redraw_charts' %}",

            {'date': date},

             function(content){
                $("#waiting").fadeOut("slow");
                $("#waiting").hide();
                $("#charts").hide();
                $("#charts").html(content.html);
                $("#charts").fadeIn("slow");
                drawCharts();

             }
        )

    });
</script>
{% endblock %}

